<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Classificacions per pais</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" />
</head>
<body>
<h1>Llista de classificacions</h1>
<h2 th:text="${nomProva}"></h2>
<h3>Nadadors per Pais</h3>

<div th:each="pais: ${classificacions.keySet()}">
    <h4 th:text="${pais}"></h4>
    <ul>
        <li th:each="nadador: ${classificacions.get(pais)}">
            <span th:text="${nadador.nom}"></span>
        </li>
    </ul>
</div>
</body>
</html>
